.container-comp {
  background-color: whitesmoke;
  padding: 1rem 5rem 5rem 5rem;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow-y: auto;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.buttons {
  padding: 1rem 0 1rem 0;
  max-height: 3rem;
}

 